:root{
    --maincol: rgb(8, 46, 117);
    --secondarycol: rgb(236, 161, 0);
}

body{
    background-color: var(--maincol);
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: right;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
.nav_elem{
    color: rgb(122, 122, 122);
    font-size: 25px;
    font-family: "Outfit";
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: 100;
}
.nav_elem:hover{
    color: var(--secondarycol);
}
.nav_left{
    margin-right: auto;
}
.active{
    color: var(--secondarycol);
}
.box{
    border-radius: 100px;
    border: solid var(--secondarycol) 3px;
}