.input{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.input input{
    font-size: 40px;
    color: var(--secondarycol);
    width: 100%;
    background-color: transparent;
    margin-inline:10px;
    font-family: "Outfit";
    text-align: center;
}
.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.generalStats{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5%;
    margin-top: 10%;
}
.generalStats a{
    font-family: "Outfit";
    color: var(--secondarycol);
    font-size: 35px;
}
.generalStats img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}